@tailwind base;
@tailwind components;
@tailwind utilities;

nextjs-portal {
	display: none;
}

.slick-track {
	display: flex !important;
}

.slick-slide {
	height: inherit !important;

	div {
		height: 100%;
	}
}

.slick-prev:before,
.slick-next:before {
	color: rgb(185 28 28) !important;
	font-size: 30px !important;
}
.slick-prev,
.slick-next {
	top: 30% !important;
	width: 30px !important;
	height: 30px !important;
	z-index: 1;
}
.slick-next {
	right: 5px !important;
}

.slick-prev {
	left: 5px !important;
}

@media only screen and (min-width: 1536px) {
	.slick-prev:before,
	.slick-next:before {
		font-size: 40px !important;
	}
	.slick-prev,
	.slick-next {
		width: 40px !important;
		height: 40px !important;
	}
}
